{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% include "usersidebar.html" %}
<body>


      <div class="main-content">
        <section class="section">
          <h1 class="section-header">
            <div>Resent blogs</div>
          </h1>


    {% for i in b %}
          <div>
            <div>
              <div class="card">
                <div class="card-header">
                  <div class="float-right">
                  </div>
                   <li class="media">

                      <div class="media-body">
                        <div class="float-right"><small>Contact at :<a href="">{{ i.useremail }}</a></small></div>
                        <div class="media-title">  <a href="#" class="btn btn-dark" style="color:white;">{{ i.username }}</a></div>
                          <h5><b>Title : {{ i.blogtitle }}</b></h5><br>
                          <h6>{{ i.blogcontent }}</h6>
                      </div>
                    </li>
                  </div>
              </div>
            </div>
          </div>

         {% endfor %}
</body>
</html>